@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Web API - Hotel Management System</h1>
        <p class="lead">Bienvenido a la página principal de la aplicación Web API para la gestión de un hotel.</p>
        <hr class="my-4">
        <p>Utiliza esta aplicación para gestionar usuarios, reservas, pagos y más en el hotel.</p>

        <h2>Gestión de Usuarios</h2>
        <p>Esta sección utiliza SQL Server para almacenar y gestionar la información de los usuarios. Puedes realizar operaciones como agregar, modificar, eliminar y consultar usuarios.</p>

        <h2>Gestión de Tarjetas de Crédito</h2>
        <p>Esta sección utiliza SQL Server para almacenar y gestionar la información de las tarjetas de crédito de los usuarios. Puedes realizar operaciones como agregar, modificar, eliminar y consultar tarjetas de crédito.</p>

        <h2>Gestión de Reservas</h2>
        <p>Esta sección utiliza SQL Server para almacenar y gestionar la información de las reservas. Puedes realizar operaciones como agregar, modificar, eliminar y consultar reservas, así como verificar la disponibilidad de habitaciones.</p>

        <h2>Gestión de Pagos</h2>
        <p>Esta sección utiliza SQL Server para almacenar y gestionar la información de los pagos. Puedes realizar operaciones como agregar, modificar, eliminar y consultar pagos.</p>

        <h2>Bitácora de Acciones</h2>
        <p>Esta sección utiliza MongoDB para almacenar la bitácora de acciones realizadas en el sistema. Puedes consultar todas las acciones registradas.</p>
    </div>
</div>
